<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>GMD System - Browse List of Products</title>
</head>
<body>
    <th:block layout:fragment="content">
        <div>
            <span style="font-size: 1.5em">List of List of Products</span>
            <span style="float:right;">
                <a class="btn btn-outline-success btn-lg" href="/gmd/products/new">Create Product</a>
            </span>
        </div>
        <p>&nbsp;</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity In Stock</th>
                    <th scope="col">Date Supplied </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product,iterStat : ${products}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${product.productNumber}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.supplier.name}"></td>
                    <td th:text="${product.unitPrice}"></td>
                    <td th:text="${product.quantityInStock}"></td>
                    <td th:text="${product.dateSupplied}"></td>
                </tr>
            </tbody>
        </table>
    </th:block>

    <th:block layout:fragment="footer"></th:block>
    
</body>
</html>